%div.four.column.centered
  %h3 Sign in

  = form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'sign-in nice' } do |f|
    = f.email_field :email, :class => 'input-text placeholder', :placeholder => 'Email'
    = f.password_field :password, :class => 'input-text placeholder', :placeholder => 'Password'

    %div.remember-submit
      = f.submit 'Sign in', :class => 'white nice button radius'

      = label_tag :user_remember_me, :class => 'remember' do
        = f.check_box(:remember_me)
        Remember me

    %div.clearfix

  %p
    = image_tag 'google_64.png', :class => 'google', :title => 'Google'
    = link_to image_tag('facebook_64.png', :class => 'facebook', :title => 'Facebook'),
      user_omniauth_authorize_path(:facebook)


  = render :partial => 'devise/shared/links'
