%br/
- if user_signed_in?
  %span#profile_avatar
    %div#avatar_holder
      = image_tag(current_user.gravatar(150), :alt => 'Avatar')
      %div= link_to 'Change avatar', 'http://gravatar.com'
  %span#profile_info
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      %table#fields
        %tr.field
          %td= f.label :name, 'Login'
          %td= f.text_field :name
        %tr.field
          %td= f.label :fullname, 'Full name:'
          %td= f.text_field :fullname
        %tr.field
          %td= f.label :email
          %td= f.email_field :email
        - unless current_user.has_no_password?
          %tr.field
            %td= f.label :current_password
            %td= f.password_field :current_password
          %tr.field
            %td= f.label :password
            %td= f.password_field :password
          %tr.field
            %td= f.label :password_confirmation
            %td= f.password_field :password_confirmation
        %tr.field
          %td
          %td
            = f.submit "Update"
            %br/
            %br/
            %p
              Unhappy? #{link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.

- else
  Login to edit your profile.