%div.task-page
  %p.language
    Back to
    = link_to @task.language.name, @task.language
  %h1.name= @task.name

  %div.description= find_and_preserve markdown @task.description

  %h4.source-header
    Your solution

  %div.cm-theme-selector
    %span High-lighting theme:
    = select_tag :theme, options_for_select([])

  %div.clearfix

  = form_tag submit_language_task_path(@task.language, @task),
    :remote => true, :id => 'submit_form', :format => :json do
    %div#source_container= text_area_tag :source, nil, :rows => 30

  %button.nice.large.radius.button#submit_button Submit

  = render :partial => 'submissions'

  %div#submission_source.reveal-modal
    %a.close-reveal-modal &#215;
    %textarea
