%div.language-page
  %h1.name= @lang.name

  %div.description= @lang.description

  - if @lang.code_example.present?
    %div#code_example
      %pre
        %code{ class: @lang.syntax_mode }~ @lang.code_example

  %div.section
    %p.title Version:
    %p.version= @lang.version

  %div.section
    %p.title Useful links:
    - Array(@lang.links).each do |link|
      %p.link= link_to CGI.unescape(link), link

  %div.tasks.section
    %p.title Tasks:
    - @lang.tasks.each do |task|
      %div{ class: "task #{task_style(task)}"}
        = link_to task.name, [@lang, task]
        %div= task.award
