%div.language-page
  %h1.name= @lang.name

  %div.description= @lang.description

  %div#code_example

  %div.links
    %p.title Useful links:
    - @lang.links.each do |link|
      %p.link= link_to link, link

  - if user_signed_in? and current_user.has_language?(@lang)
    %div.tasks
      - @lang.tasks.each do |task|
        = link_to task.name, [@lang, task], :class => "task #{task_style(task)}"
