= semantic_form_for [:admin, @language, @task] do |f|
  = f.inputs do
    = f.input :name
    = f.input :slug
    = f.input :position
    = f.input :award
    = f.input :description, :as => :text
    %li
      %label.label &nbsp;
      = link_to 'Online markdown editor', 'http://daringfireball.net/projects/markdown/dingus', :target => "_blank"
  = f.buttons :commit
