%br/
%span#profile_avatar
  %div#avatar_holder
    = image_tag(@user.gravatar(150), :alt => 'Avatar')
    %div= link_to 'Change avatar', 'http://gravatar.com', :target => '_blank'
%span#profile_info
  %div#first_line
  = form_for(@user, :url => { :action => 'update' }) do |f|
    %table#fields
      %tr.field
        %td= f.label :name, 'Name:'
        %td= f.text_field :name, :placeholder => 'Name...'
      %tr.field
        %td= f.label :location, 'Location:'
        %td= f.text_field :location, :placeholder => 'Location...'
      %tr.field
        %td
        %td= f.submit "Update"
