%br/
%span#profile_avatar
  %div#avatar_holder
    = image_tag(@user.gravatar(150), :alt => 'Avatar')
    %div= link_to 'Change avatar', 'http://gravatar.com', :target => '_blank'
%span#profile_info
  %div#first_line
  = form_for(@user, :url => { :action => 'update' }) do |f|
    %div.field
      %div.field-name= f.label :name, 'Name:'
      %div= f.text_field :name, :placeholder => 'Name...'
    %div.field
      %div.field-name= f.label :location, 'Location:'
      %div= f.text_field :location, :placeholder => 'Location...'
    %div.field
      %div.field-name
      %div= f.submit "Update"
