%div.seven.columns.centered.profile
  %div.avatar
    = image_tag @user.gravatar(150), :alt => 'Avatar'
    = link_to 'Change avatar', 'http://gravatar.com', :target => '_blank'

  %div.info
    %div.headline
      %h3 Edit Profile

    = form_for @user, :html => { :class => 'nice' } do |f|
      = f.label :name, 'Name:'
      %div.field-wrapper
        = f.text_field :name, :placeholder => 'Unknown', :class => 'input-text'
        = error_message @user, :name

      = f.label :location, 'Location:'
      %div.field-wrapper
        = f.text_field :location, :placeholder => 'Unknown',
                       :class => 'input-text', :maxlength => 100
        = error_message @user, :location

      = f.label :about, 'About:'
      %div.field-wrapper
        = f.text_area :about, :placeholder => 'Unknown', :rows => 8,
                      :class => 'input-text', :maxlength => 1000
        = error_message @user, :about

      = f.submit 'Save', :class => 'blue nice button radius'