%br/
- if @user
  %span#profile_avatar
    = image_tag(@user.gravatar(150), :alt => 'Avatar')
  %span#profile_info
    %div#first_line
      %span#name= @user.name
      %span#edit= link_to("(edit)", edit_user_path) if current_user == @user

    %div.field
      %div.field-name Location:
      %div= @user.location

- else
  User
  = params[:id]
  not found