%div.profile
  %div.avatar= gravatar(@user, 150)
  %div.info
    %div.headline
      %h3= @user.name
      - if current_user == @user
        = link_to("(edit)", edit_user_path, :class => 'edit')
    %div.fields
      - [:location, :about].each do |field|
        %div.field
          %div.name= "#{field.to_s.humanize}:"
          - if @user[field].presence
            %div.value= @user[field]
          - else
            %div.value.unknown Unknown