%br/
- if @user
  %span#profile_avatar
    = image_tag(@user.gravatar(150), :alt => 'Avatar')
  %span#profile_info
    %span#name= @user.name
    %span#edit= link_to("(edit)", edit_user_registration_path) if current_user == @user
    %table#fields
      %tr.field
        %td Full name:
        %td= @user.fullname
      %tr.field
        %td Email:
        %td *******@****
      %tr.field
        %td Favorite quote:
        %td Hello, world


- else
  User
  = params[:id]
  not found