%div#header.container
  %div.row
    %div.header-wrapper
      %div.logo.left= link_to image_tag('logo.svg', :title => 'Taste-o-Code'), root_path

      %div.nav.left= navigation

      - if user_signed_in?
        %div#user_bar.logged-in
          %div#user_trigger.dropdown-trigger.hover-trigger
            %div.avatar= gravatar(current_user, 45)
            %div.wrapper
              %div.name= current_user.name
              %div.points
                %span.available-points= current_user.available_points
                %span /
                %span.total-points= current_user.total_points
            %div.header-dropdown
              %ul
                %li= link_to 'Profile', user_path(current_user)
                %li= link_to 'Settings', settings_path
                %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'
      - else
        %div#user_bar.logged-out
          %ul
            %li
              %div#login_trigger.dropdown-trigger.click-trigger
                Login
                %div.header-dropdown
                  With regular account
                  = form_for resource, :as => :user, :url => session_path(resource, :format => :json), :remote => true,
                             :html => { :class => 'nice', :id => 'login_form' } do |f|
                    = f.email_field :email, :class => 'input-text', :placeholder => 'Email'
                    = f.password_field :password, :class => 'input-text', :placeholder => 'Password'

                    = label_tag :user_remember_me, :class => 'remember' do
                      = f.check_box(:remember_me)
                      Remember me

                    = f.submit 'Login', :class => 'blue nice button radius small', 'data-disable-with' => 'Loading...'

                  %div.auth-providers
                    %div.or OR
                    %span With
                    = auth_providers_links 32

            %li
              = link_to 'Sign up', new_user_registration_path, :id => 'signup'
