%div#header.container
  %div.row
    %div.header-wrapper
      %h1.left= link_to 'Taste-o-Code', root_path

      %div.nav.left= navigation

      %div.user.right
        - if user_signed_in?
          %div.name
            = current_user.name
            %ul
              %li= link_to('Profile', user_path(current_user.id))
              %li= link_to('Logout', destroy_user_session_path, :method => 'delete')
          = image_tag(current_user.gravatar(35), :size => '35x35', :alt => 'Avatar', :class => 'avatar')
        - else
          %div.links
            = link_to('Login', new_user_session_path, :id => 'login')
            = link_to('Register', new_user_registration_path)