%div#header.container
  %div.row
    %div.header-wrapper
      %h1.left= link_to 'Taste-o-Code', root_path

      %div.nav.left= navigation

      - if user_signed_in?
        %div#user_bar.logged-in
          %div.dropdown-trigger.hover-trigger
            %div.avatar= image_tag current_user.gravatar(35), :size => '35x35', :alt => 'avatar'
            %div.name= current_user.name
            %div.header-dropdown
              %ul
                %li= link_to 'Profile', user_path(current_user)
                %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'
      - else

        %div#user_bar.logged-out
          %ul
            %li
              %div.dropdown-trigger.click-trigger
                Login
                %div.header-dropdown
                  = form_for :user, :url => session_path(:user, :format => :json), :remote => true,
                             :html => { :class => 'nice', :id => 'login_form' } do |f|
                    = f.email_field :email, :class => 'input-text placeholder', :placeholder => 'Email'
                    = f.password_field :password, :class => 'input-text placeholder', :placeholder => 'Password'

                    = label_tag :user_remember_me, :class => 'remember' do
                      = f.check_box(:remember_me)
                      Remember me

                    = f.submit 'Login', :class => 'blue nice button radius small'
                    %div.loader
                      = image_tag 'login-loader.gif', :size => '24x24'
                  %div.providers-icons
                    - [:google, :facebook].each do |provider|
                      = link_to image_tag("#{provider}_32.png", :title => provider.capitalize),
                        user_omniauth_authorize_path(provider)

            %li
              = link_to 'Join', new_user_registration_path, :id => 'join'
