!!! html
%html
  %head
    %title Taste-o-Code
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %div#header_background
      %div#header
        %div.title= link_to 'Taste-o-Code', root_path

        %div#nav=navigation

        %div.user-div
          - if user_signed_in?
            %div.links
              = link_to(current_user.name, user_path(current_user.name), :class => 'name')
              = link_to('Logout', destroy_user_session_path, :method => 'delete')
            %div.avatar
              = image_tag(current_user.gravatar(35), :size => '35x35', :alt => 'Avatar')
          - else
            %div.links
              = link_to('Login', new_user_session_path, :id => 'login')
              = link_to('Register', new_user_registration_path)

    %div#main
      %div#flash
        - flash.each do |name, msg|
          - unless msg.blank?
            %div(class = name)
              %span.message= msg
              %span.close close

      %div#content
        = yield

    %div#footer_background
