!!! html

%html
  %head
    %title Taste-o-Code
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    = render :partial => 'layouts/header'

    %div#main
      %div.row
        %div#content
          = render :partial => 'layouts/flash', :locals => { :flash => flash }

          %div.row
            = yield

    %div#footer.container
