%html
  %head
    %title Taste-o-Code
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %div#header_background
      %div#header
        %div.title= link_to 'Taste-o-Code', root_path

        %div#nav=navigation

        %div.user-div
          - if user_signed_in?
            %span= image_tag(current_user.gravatar(40), :alt => 'Avatar')
            %span= link_to(current_user.name, user_path(current_user.name), :class => 'name')
            %span= link_to('Logout', destroy_user_session_path, :method => 'delete')
          - else
            %span= link_to('Login', new_user_session_path, :id => 'login')
            %span= link_to('Register', new_user_registration_path)

    - unless flash.blank?
      %div#flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :class => "#{name}" if msg.is_a?(String)

    %div#main
      %div#content
        = yield