!!! html

%html
  %head
    %title Taste-o-Code
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = gflash
    = styx_initialize
    = csrf_meta_tags
    %script{ :type => 'text/javascript',
             :src => 'http://widget.uservoice.com/tCt32QAjAWW13FAp1Vww.js',
             :async => true }
    %meta{ :name => 'description',
           :content => "Try new programming languages you've never seen. Unlambda, prolog, clojure and others." }
  %body

    = render :partial => 'layouts/header'

    %div#main
      %div.row
        %div#content

          %div.row
            = yield

    %div#footer.container
      2012 &copy; Taste-o-Code Inc.