!!! html

%html
  %head
    %title Taste-o-Code
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = gflash
    = csrf_meta_tags
  %body

    = render :partial => 'layouts/header'

    %div#main
      %div.row
        %div#content

          %div.row
            = yield

    %div#footer.container
      2011 &copy; Taste-o-Code Inc.