%html
  %head
    %title Taste-o-Code
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %div.header
      %p.title Taste-o-Code
      / Devise stuff.
      %div.user-div
        - if user_signed_in?
          %span= image_tag(gravatar_link(current_user.email), :alt => 'Avatar')
          %span= link_to(current_user.name, edit_user_registration_path, :class => 'name')
        - else
          %span= link_to('Login', new_user_session_path)
        - if user_signed_in?
          %span= link_to('Logout', destroy_user_session_path, :method => 'delete')
        - else
          %span= link_to('Sign Up', new_user_registration_path)
      
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    
    = yield
    